/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.category {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.category-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-bottom: 10px;
}

.copy-button {
    padding: 10px;
    font-size: 14px;
    margin-right: 5px;
    background-color: #4CAF50; /* 绿色背景 */
    color: white; /* 白色文字 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #45a049; /* 鼠标悬停时的颜色 */
}

.delete-button {
    padding: 8px 16px;
    background-color: #f44336; /* 红色背景 */
    color: white; /* 白色文字 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d32f2f; /* 鼠标悬停时的颜色 */
}

.menu-content button {
    background-color: #007BFF; /* 蓝色背景 */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.menu-content button:hover {
    background-color: #0056b3; /* 鼠标悬停时的颜色 */
}
